<header class="headerMain">
	<div class="container">
		<a href="javascript:void(0)">
			<img src="./assets/images/logo.png" alt="QESMEDIC">
		</a>
		<div class="boxProfile">
			<figure>
				<img src="./assets/images/mifoto.jpg" alt="">
			</figure>
			<div class="boxPerson">
				<h2>{{ name }}</h2>
				<h3>SECRETARIA</h3>
				<a href="javascript:void(0)">
					<i class="fa fa-times-circle-o" aria-hidden="true"></i>
					CERRAR SESION
				</a>
			</div>
		</div>
	</div>
</header>
<nav>
	<div class="container">
		<ul>
			<li><a href="javascript:void(0)"> <i class='icon-menu home'></i> Principal<i class="fa fa-caret-down main-icon active" aria-hidden="true"></i>
</a></li>
			<li><a href="javascript:void(0)"> <i class='icon-menu business'></i> Empresas<i class="fa fa-caret-down main-icon " aria-hidden="true"></i></a></li>
			<li><a href="javascript:void(0)"> <i class='icon-menu depenPerson'></i> Atender<br >Pacientes<i class="fa fa-caret-down main-icon " aria-hidden="true"></i></a></li>
			<li><a href="javascript:void(0)"> <i class='icon-menu indepenPerson'></i> Pacientes<br >Independientes<i class="fa fa-caret-down main-icon " aria-hidden="true"></i></a></li>
			<li><a href="javascript:void(0)"> <i class='icon-menu ticket'></i> Ticket<br >de<br >Atención<i class="fa fa-caret-down main-icon " aria-hidden="true"></i></a></li>
			<li><a href="javascript:void(0)"> <i class='icon-menu history'></i> Historia<br >Médica<i class="fa fa-caret-down main-icon " aria-hidden="true"></i></a></li>
			<li><a href="javascript:void(0)"> <i class='icon-menu doctor'></i> Doctores<i class="fa fa-caret-down main-icon " aria-hidden="true"></i></a></li>
			<li><a href="javascript:void(0)"> <i class='icon-menu reports'></i> Reportes<br >Estadísticos<i class="fa fa-caret-down main-icon " aria-hidden="true"></i></a></li>
		</ul>
	</div>
</nav>