<div class="contentMain">
	<app-header></app-header>
	<div class="container">
		<section class="boxContent">
      <h2 class="title">Datos del Paciente</h2>
      <div class="patientBox">
        <div class="row">
          <div class="column styleRow ancho1">
            <div class="row">
              <div class="column">
                <figure class="photoFrame">
                  <img src="./assets/images/pacient.jpg" />
                </figure>
              </div>
              <div class="column ancho1">
                <div class="row paddingTB">
                    <div class="column">
                        <p>10628883</p>
                        <p class="textGreen">DOCUMENTO DE IDENTIDAD</p>
                    </div>
                </div>
                <div class="row paddingTB space_between padding_right">
                    <div class="column">
                        <p>CARLOS AUGUSTO</p>
                        <p class="textGreen">NOMBRES</p>
                    </div>
                    <div class="column">
                        <p>ESPINOZA</p>
                        <p class="textGreen">APELLIDO PATERNO</p>
                    </div>
                    <div class="column">
                        <p>GALARZA</p>
                        <p class="textGreen">APELLIDO MATERNO</p>
                    </div>
                    <div class="column">
                        <p>M</p>
                        <p class="textGreen">SEXO</p>
                    </div> 
                </div>
                <div class="row paddingTB borderBottom space_between padding_right">
                    <div class="column">
                        <p>36 AÑOS</p>
                        <p class="textGreen">EDAD</p>
                    </div>
                    <div class="column">
                        <p>951012467</p>
                        <p class="textGreen">CELULAR</p>
                    </div>
                    <div class="column">
                        <p>C.AUGUSTO.ESPINOZA@GMAIL.COM</p>
                        <p class="textGreen">EMAIL</p>
                    </div>
                </div>
                <div class="row paddingTB">
                    <div class="column">
                        <p>FAHRENHEIT DDB SAC</p>
                        <p class="textGreen">RAZÓN SOCIAL EMPRESA</p>
                    </div>
                    <div class="column">
                        <p>MARKETING DIGITAL</p>
                        <p class="textGreen">ÁREA DE TRABAJO</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column styleRow ancho2">
            <div class="row">
              <i class="icon-folder-plus"></i>
              <div class="groupInfo">
                <p>Número de Historial Médico</p>
                <p class="codeHistory">000-2541544412</p>
              </div>
            </div>
            <div class="row space_between paddingTB">
              <div class="column">
                <p>12 SEP 2015</p>
                <p class="textGreen">FECHA DE ATENCIÓN</p>
              </div>
              <div class="column">
                  <p>12 SEP 2015</p>
                  <p class="textGreen">FECHA DE EVALUACIÓN</p>
              </div>
            </div>
            <div class="row paddingTB">
              <div class="column">
                  <p>PERIÓDICA</p>
                  <p class="textGreen">TIPO DE EVALUACIÓN</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row styleRow separateTop">
          <div class="column">
            <p class="textGreen sangriaLeft">LUGAR DE EXÁMEN</p>
            <input type="text" name="lugarexamen" id="lugarexamen" class="ancho170" placeholder="OHE MEDICAL" />
          </div>
          <div class="column">
              <p class="textGreen sangriaLeft">DEPARTAMENTO</p>
              <input type="text" name="departamento" id="departamento" placeholder="DEPARTAMENTO" />
          </div>
          <div class="column">
              <p class="textGreen sangriaLeft">PROVINCIA</p>
              <input type="text" name="provincia" id="provincia" placeholder="PROVINCIA" />
          </div>
          <div class="column">
              <p class="textGreen sangriaLeft">DISTRITO</p>
              <input type="text" name="distrito" id="distrito" placeholder="DISTRITO" />
          </div>
          <div class="column">
              <button type="button">Actualizar</button>
          </div>
        </div>
      </div> 
    </section>
	</div>
</div>
