.contentMain
	background-image url('../../assets/images/fondologin.jpg')
	background-repeat no-repeat
	background-position 0
	background-size cover
	height 700px
	.boxContent
		margin-top -40px
		background white
		border-radius 10px
		padding 80px 60px 60px 30px
		.contentDetail
			padding 50px 0px 10px 20px
			display flex
			flex-direction row
			flex-wrap nowrap
			justify-content space-between
			align-items flex-start
			.rowtop
				position relative
				top -16px
			.column
				display inline-block
				vertical-align top
				&:last-child
					margin-left 30px
				&.separate
					&:last-child
						margin-left 5px
				.boxData
					width 200px
					height 70px
					border 1px solid #cccccc
					border-radius 10px
					box-sizing border-box
					margin-bottom 10px
					.dataColumn
						display inline-block
						vertical-align top
						margin-right -4px
						position relative
						top 0
						left 0
						height 100%
						&:last-child
							padding 12px 0 0px 10px
						&:first-child
							width 61px
							border-right 1px dashed #ccc
							i
								position absolute
								top 50%
								left 50%
								transform translate(-50%,-50%)
								font-size 30px
								color #ccc
				p
					
					font-size 14px
					font-family 'colaborate-regularregular'
					letter-spacing -0.08em
					margin 0
					line-height 0.85em
					&.textBig
						font-family 'colaboratelightregular'
						font-size 45px
				.columnBox
					display inline-block
					vertical-align top
					margin-right 4px
					.circuleProgress
						height 70px
						width 70px
						position relative
						top -20px
						.boxIcon
							position absolute
							top 50%
							left 50%
							transform translate(-40%,-40%)
							i
								color #dedede
								font-size 26px
						canvas
							position absolute
							top 0
							left 0
		h2
			&.title
				font-size 30px
				font-family 'colaboratelightregular'