.pageLogin
	background-image url('../src/assets/images/fondologin.jpg')
	background-repeat no-repeat
	background-position -200px 0
	height 100vh
	.headerLogin
		padding 80px 0 20px
		a
			display block
			width 100%
			margin auto
			text-align center
	.boxLogin
		padding 60px 0 0
		.formLogin
			width 404px
			height 255px
			margin auto
			text-align center
			form
				margin-top 30px
				.alertBox
					border 1px solid red
					width 100%
					background rgba(252,178,180,1)
					height 38px
					border-radius 5px
					display none
					p
						color #fa4145
						font-family 'colaborate-regularregular'
						font-size 15px
						line-height 2.75em
						span
							font-family 'colaborate-boldregular'					
							color #fa4145
				.rowForm
					margin-bottom 10px
					button
						width 282px
						height 40px
						border-radius 20px
						border 0
						font-family 'colaboratelightregular'
						font-size 18px
						color white
						background linear-gradient(to bottom, #4fbd0e 0%,#009a00 100%)
						cursor pointer
						//transition .5s all ease
						&:focus
							outline 0px
						&:hover
							background linear-gradient(to bottom, #0474e3 0%,#0057ae 100%)
					&.rowColumn
						display flex
						flex-direction row
						flex-wrap nowrap
						justify-content center
						align-items flex-start
						label
							background #0157ac
							width 52px
							height 44px
							box-sizing border-box
							border-top 1px solid #d8d8d8
							border-bottom 1px solid #d8d8d8
							border-left 1px solid #d8d8d8
							border-radius 30px 0px 0 30px
							position relative
							top 0
							left 0
							i
								font-size 20px
								color white
								position absolute 
								top 50% 
								left 55%
								transform translate(-50%,-55%) 
						input[type='text'], input[type='password'] 
							border-radius 0px 30px 30px 0px
							background #f6f6f6
							width 230px
							height 44px
							border 0
							padding 0 10px
							border-top 1px solid #d8d8d8
							border-bottom 1px solid #d8d8d8
							border-right 1px solid #d8d8d8
							box-sizing border-box
							color #818181
							font-family 'colaborate-regularregular'
							font-size 15px
							&:focus
								outline 0px
			h1
				font-family 'colaborate-thinregular'
				font-size 40px
				span
					color #0d74b9
					&.textGreen
						color #02ad5f
		