/*
Se agrega los estilos de manera global
*/

@import '../node_modules/nib/'
@import '../node_modules/nib/lib/nib/gradients.styl'

@import 'fonts.css'


global-reset()

normalize-base()
normalize-html5()

@import 'assets/stylus/header'
@import 'assets/stylus/login'
@import 'assets/stylus/home'

