/*
Se agrega los estilos de manera global
*/

@import 'nib'
@import 'nib/gradients'

@import 'fonts.css'
global-reset()

normalize-base()
normalize-html5()
body
	color #888888
.textGreen
	color #00ad5e
.textBlue
	color #0157ac
.container
	width 90%
	margin auto
	@media screen and (min-width:480px)
		width 90%
	@media screen and (min-width:750px)
		width 700px
	@media screen and (min-width:992px)
		width 961px
	@media screen and (min-width:1200px)
		width 1190px